html, body{
  width: auto;
  height: auto;
  background-image: url(./planodefundo.png);
}

#root {
   margin-top: 100px;
   color: black;
   font-size: 20px;
   font-style: oblique;
   font-weight: 600; 
}
#conteinera{
  background: none;
}

html,body .mb-2{
  color: white;
  background-color: blue;
  border-color: cyan;
}
html,body .mb-2:hover{
  color: blue;
  background-color: cyan;
}

html, body .exclu1{
  background-color: red;
  border-color: white;
}
html, body .exclu1:hover{
 background-color: yellow;
 color: black;
 border-color: white;
}

html,body .atualz1{
  background-color: blueviolet;
  border-color: aqua;
  color: aqua;
  letter-spacing: 6px;
  margin: 5px;
}
html,body .atualz1:hover{
  color: blueviolet;
  background-color: aqua;
  border-color: white;
}
